.pagination {
  display: flex;
  justify-content: center;
  &__tab {
    width: 48px;
    height: 48px;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    margin: 24px 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-align: center;
    }

    &--enable {
      color: #ffffff;
      background: #3a80ba;
    }
    &--next,
    &--prev {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 10px;
      img {
        // transform: rotate(180deg);
      }
    }

    &--enable {
    }
  }
}
